.App{
  .message {
    background-color: #fff;
    clear: both;
    bottom: 190px;
    width: 100%;

    .companiesmsg {
      text-align: center;
      font-size: 36px;
      margin-top: 3%;
      margin-bottom: 3%;
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
    }
  }
}