.CustomCarousel {
  .sliderImg {
    max-width: 100% !important;
    height: auto !important;
  }

  .sliderDot {
    padding: 5px 5px !important;
    border-radius: 60% !important;
    background-color: white;
    border: none;
    position: absolute;
    top: 95%;
    opacity: 35%;

    &.sliderDotsFirst {
      margin-left: 48% !important;
    }

    &.sliderDots1 {
      margin-left: 49%;
    }

    &.sliderDots2 {
      margin-left: 50%;
    }

    &.sliderDots3 {
      margin-left: 51%;
    }
  }
}


