.Footer {
  width: 100%;
  overflow: auto;
  min-height: 30px;
  background-color: #1f2b38;
  clear: both;
  bottom: 0;

  .socialimg {
    margin: 0 auto;
    padding: 0 1% 0 1%;
    float: left;
    margin: 0 auto;
    text-decoration: none;
    list-style-type: none;

    &:first-child {
      margin-left: 7%;
    }

    .social {
      margin-top: 40%;
      margin-bottom: 40%;
      width: auto;
      height: 32px;
    }
  }

  .socialtxt {
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    opacity: 0.25;
    float: right;
    margin-right: 12%;
    margin-top: 1%;
  }
}
