.Nav {
  margin: 0 auto;
  background-color: #9eabb8;
  box-shadow: 0 3px 4px -2px #333;
  overflow: hidden;

  .navigation {
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
    list-style-type: none;

    .nav-element {
      float: left;
      margin-top: 2.5%;
      margin-left: 0 !important;
      padding: 0 20px 0 20px;

      &.logo:first-child {
        margin-top: 0.5%;
        margin-left: 15% !important;
      }

      &.panel {
        float: right;
      }

      &.rej {
        margin-top: 2.40%;
        margin-right: 15%;
        margin-left: 0 !important;
        display: block;
      }

      &.szukaj {
        margin-right: 0 !important;
        display: block !important;
        cursor: pointer;
      }

      .link {
        font-weight: bold;
        font-size: 17px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
        color: black;
        text-decoration: none;

        .logo-img {
          width: auto;
          height: 100px;
        }

        .panel-img {
          display: block;
          width: auto;
          height: 32px;
          float: left;
        }

        .panel-span {
          display: block;
          text-decoration: none;
          color: black;
          margin-top: 4%;
          float: right;
          font-weight: bold;

          &.find {
            font-weight: bold;
            font-size: 17px;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
            color: black;
          }
        }
      }
    }
  }
}