.Products {
  width: 100%;
  min-height: 125px;
  background-color: #576d84;
  clear: both;
  bottom: 52px;

  .companies {
    float: left;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;

    .element {
      width: 20%;
      float: left;
      border: none;
      text-align: left;
      padding: 0 20px 0 169.5px;

      &:first-child {
        margin-left: 0;
      }

      .company {
        width: auto;
        height: 120px;
        margin-top: 1%;
      }
    }
  }
}

